<div class="dashboard">
	<div class="col-xs-12 col-sm-4 dashboard-item" ng-repeat="item in ctrl.items track by $index">
		<form>
			<div class="form-group input-group">
				<input type="text" class="form-control" ng-model="item.tempLocation" ng-model-options="{debounce: 500}" ng-change="item.updateLocation()" placeholder="City Name">
				<span class="input-group-btn">
					<button class="btn btn-danger" ng-click="ctrl.removeItem($index);" type="button"><i class="glyphicon glyphicon-remove"></i></button>
				</span>
			</div>
		</form>
		<h3>{{item.getLocationName();}}</h3>
		<p>{{item.getTemperature();}} {{item.getConditionsText();}}
			<button class="forecast-button btn btn-default" ng-show="!!item.getTemperature();" ng-click="ctrl.openModal(item);">Forecast <i class="glyphicon glyphicon-new-window"></i></button>
		</p>
	</div>
	<div class="col-xs-12 col-sm-4 dashboard-item text-center">
		<div class="vertical-center">
			<button class="btn btn-primary" ng-click="ctrl.newItem();"><i class="glyphicon glyphicon-plus"></i> Add New Widget</button>
		</div>
	</div>
</div>
<!-- /.dashboard -->
